
 /*.state-overview .panel1 {
    padding: 0px 20px;
    height: 50rem;
    width:20rem;
    margin-bottom:2rem;
}  
.col-md-6 .row-hang {
   /* width: 34.333333%;*/
}
/*.row .state-overview{
	margin-bottom: 1rem;;
}*/*/
